@font-face {
    font-family: Logo_Font;
    src: url(font.otf);
}

:root{
    --subpages-width: 800;
    font-family: Logo_Font;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    height: 15vh;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#icons{
    position: absolute;
    right: 0px;
}

#icons button{
    margin-right: 10px;
}

#icons img{
    transition: ease-in-out all 0.2s;
}

#icons img:hover{
    scale: 1.2;
    cursor: pointer;
}

#icons img:active{
    scale: 1.05;
}

#name{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    user-select: none;
    text-decoration: none;
    color: inherit;
}

#name img{
    height: 100px;
    -webkit-user-drag: none;
}

nav img{
    height: 30px;
    margin-right: 30px;
}

img {
    -webkit-user-drag: none;
}

.link{
    transition: ease-in-out all 0.2s;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.link:hover {
    scale: 1.1;
}

.link:active {
    scale: 0.9;
}

#logout_button{
    background-color: antiquewhite;
    transition: ease-in-out all 0.2s;
    color: black;
}

#logout_button:hover{
    scale: 1.1;
}